# Project
Standard: c++20
ColumnLimit: 160

# Indentation
AccessModifierOffset: -4
BitFieldColonSpacing: Both
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentCaseBlocks: true
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentRequires: true
IndentWidth: 4  
IndentWrappedFunctionNames: true
TabWidth: 4
UseTab: Never

# Empty lines
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Always
KeepEmptyLinesAtTheStartOfBlocks: true
MaxEmptyLinesToKeep: 2

# Braces
BreakBeforeBraces: Custom
InsertBraces: true
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: true
    AfterControlStatement: Always
    AfterEnum: true
    AfterFunction: true
    AfterNamespace: true
    AfterStruct: true
    AfterUnion: true
    AfterExternBlock: true
    BeforeCatch: false
    BeforeElse: true
    BeforeLambdaBody: true
    BeforeWhile: false
    IndentBraces: false
    SplitEmptyFunction: true
    SplitEmptyRecord: true
    SplitEmptyNamespace: true

# Function parameters formatting
BinPackParameters: false
AllowAllParametersOfDeclarationOnNextLine: false

# if arguments formatting
BinPackArguments: false
AllowAllArgumentsOnNextLine: false

# case
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: true         
AllowShortFunctionsOnASingleLine: InlineOnly 

AllowShortCaseExpressionOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: false
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false

# Namespaces
CompactNamespaces: false
FixNamespaceComments: true
NamespaceIndentation: All

# Initializers & arguments
PackConstructorInitializers: Never    
ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma 
Cpp11BracedListStyle: true

#templates
BreakTemplateDeclarations: Yes

# Pointer alignment
PointerAlignment: Left

# lambdas
AllowShortLambdasOnASingleLine: Inline

# order and includes
SortIncludes: true
IncludeBlocks: Regroup

# macros
AlignEscapedNewlines: Left
StatementMacros:
  - CLASSIC_ASSERT

IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1      # headers do sistema (std, libs externas)
  - Regex: '.*'
    Priority: 2      # headers locais do projeto




